article{
    border: 1px solid black;
    margin: auto;
}
 img{
    width: 100%;
}
.hidden{
    display: none;
}
.show{
    display: block;
}
.fila .show{
    display: flex;
    flex-direction: column;
}
.descButton{
    cursor: pointer;
}
.descButton:hover{
    color: blue;
}
.columna{
 width: 24%;
 padding: 10px;
    background-color: rgb(59, 59, 117);
    color: white;
}
.fila .contentArticle{
    padding-left: 40px;
}
.fila{
    width: 100%;
    padding: 10px;
    background-color: rgb(59, 59, 117);
    color: white;
    display: flex;
   
}
.fila img{
    width: 25%;
}