article{
    border: 1px solid black;
    margin: auto;
}
.hidden{
    display: none;
}
.show{
    display: block;
}
.descButton{
    cursor: pointer;
}
.descButton:hover{
    color: blue;
}
.columna{
 width: 24%;
 padding: 10px;
    background-color: rgb(59, 59, 117);
    color: white;
}
.fila{
    width: 100%;
    padding: 10px;
    background-color: rgb(59, 59, 117);
    color: white;
    color: lightcoral;
    text-decoration: underline;
}

.masInfo{
    color: lightgrey;
    font-style: italic;
}

.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}
  
.zoom:hover {
    transform: scale(1.08); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}