article{
    border: 1px solid black;
    margin: auto;
}
img{
    width: 100%;
}
.hidden{
    display: none;
}
.show{
    display: block;
}
.fila .show{
    display: flex;
    flex-direction: column;
}
.descButton{
    cursor: pointer;
}
.descButton:hover{
    color: grey;
}
.masInfo{
    color: lightgrey;
    font-style: italic;
}
.columna{
    width: 24%;
    padding: 10px;
    background-color:  rgb(220,20,60);
    color: white;
}
.fila .contentArticle{
    padding-left: 40px;
}
.fila{
    width: 100%;
    padding: 10px;
    background-color:  rgb(220,20,60);
    color: white;
    display: flex;
   
}
.fila img{
    width: 25%;
}

.botones{
    margin: 5px;
}
.boton{
    margin: 10px;
}